.menu_div{
    display: inline;
    text-decoration: none;
    border-radius:13px;
    padding: 5px;
    padding-top: 0;
    background:rgb(255,255,255);
    transition: 0.2s linear;
}
.menu_img{
    position: relative;
    top: 5px;
}
.menu_text{
    display: inline;
    margin-left: 5px;
}
.menu_div2{
    display: inline;
    background: #FFAB08;
    border-radius:13px;
    padding: 5px;
    color:rgb(255, 255, 255);
}
.menu_div:hover{
    background: #FFAB08;
    color:rgb(255, 255, 255);
}
@media(max-width: 1000px) {
    .menu_div{
        margin-left: 10px;
        padding-top: 6.5px;
    }
  }