.main{
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  width: 100%;
}
.name_of_menu{
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 40px;
  margin-top: 50px;
}
.basket{
  margin-top: 130px;
  position: absolute;
  padding-left:12px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 12px;
  width: 300px;
  border-radius:18px;
  background-color:rgb(255, 255, 255);
}
.All{
  padding-left: 10%;
  padding-right: 10%;
}
.functions_in_all{
  margin-bottom: 100px;
  width: 100%;
  height: 100vh;
}
.basket_all_num_text{
  font-weight: 600;
  font-size: 24px;
}
.basket_all_num_div{
  padding-bottom: 12px;
  border-bottom: double 1px #F2F2F3;
  display: flex;
  justify-content: space-between;
}
.delivery_text{
  display: inline;
  padding-left: 5px;
}
.basket_all_num{
  height: 24px;
  width: 40px;
  text-align: center;
  background: #F2F2F3;
  border-radius: 6px;
}
.basket_all_cost_div{
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.delyvery_button{
  background: #FF7020;
  color: #ffffff;
  border:none;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  width: 100%;
  height: 40px;
  border-radius:12px;
  cursor: pointer;
  margin-top: 24px;
  margin-bottom: 8px;
}
.menu_of_burgers, .BurgerLists{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.menu_of_burgers{
  width: 100%;
}
.BurgerLists{
  width: 100%;
}
.functions_in_all{
  display: flex;
  justify-content: space-between;
}
.nav{
  margin-left: -13%;
  width: 126%;
  background-image: url("../src/assets/Ellipse.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 540px;
  padding-left: 30%;
  padding-right: 30%;
}
.burger_logo{
  width: 40%;
}
.mav_no_logo{
  display: flex;
  justify-content: space-between;
}
.nav_text_name_1, .nav_text_name_2{
  font-size: 50px;
  font-weight: 800;
}
.nav_text_name_2{
  color: #FF5C00;
}
.nav_text_name_1{
  color: #ffffff;
}
.nav_text{
  margin-top: 50px;
}
.nav_img{
  margin-top: 24px;
  margin-bottom: 24px;
  width: 20%;
  margin-left: 40%;
}
.nav_text_another{
  color: #ffffff;
  margin-top: 52px;
}
.footer{
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}
.left_footer{
  font-size: 12px;
}
.left_footer_img{
  margin-bottom: 60px;
}
.center_footer_div{
  display: flex;
  justify-content: space-between;
}
.right_footer_p{
  font-size: 24px;
  margin-bottom: 22px;
}
.right_footer_telegram{
  cursor: pointer;
  margin-left: 16px;
}
.right_footer_WK{
  cursor: pointer;
}
.center_footer_p{
  font-size: 24px;
  margin-bottom: 20px;
}
.active{
  background: #FFAB08;
  text-decoration: none;
  color:#ffffff;
}
.menu_of_burgers_all{
  width: 70%;
  margin-left: 30%;
  margin-bottom: 100px;
}
